<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <form action='/account/add' method='POST'>
        <h3>Add a Charge</h3>

        <div class="form-item">
            <label th:for="name">Account name</label>
            <input th:field="${account.name}" />
            <p class="error" th:errors="${charge.amount}"></p>
        </div>
        <div class="form-item">
            <label th:for="type">Account type</label>
            <select th:field="${account.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </div>
        <div class="form-item">
            <label th:for="dateOpened">Date Opened</label>
            <input th:field="${account.dateOpened}" />
        </div>
        <button type="submit">Add Charge</button>
    </form>
</main>

</body>
</html>