<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <form action='/collection/add' method='POST'>
            <h3>Add a Charge</h3>

            <div class="form-item">
                <label th:for="amount">Charge amount</label>
                <input th:field="${charge.amount}" />
                <p class="error" th:errors="${charge.amount}"></p>
            </div>
            <div class="form-item">
                <label th:for="date">Charge date</label>
                <input th:field="${charge.date}" />
                <p class="error" th:errors="${charge.date}"></p>
            </div>
            <div class="form-item">
                <label th:for="chargeCategory">Charge category</label>
                <select th:field="${charge.chargeCategory}">
                    <option th:each="category : ${chargeCategory}"
                            th:value="${category}"
                            th:text="${category.displayName}"
                    ></option>
                </select>
            </div>
            <div class="form-item">
                <label th:for="dek">Charge Description</label>
                <input th:field="${charge.dek}" />
            </div>
            <div class="form-item">
                <label th:for="account">Charge account</label>
                <input th:field="${charge.account}" />
                <!-- TODO TEMPLATE #1 - Implement ability to display/pass account object into a charge -->
                <!-- TODO TEMPLATE #2 - Turn this into a for each block with accounts once you can create on -->
                <!-- <input type="checkbox" name="account" th:value="${account.id}" /><label th:text="${account.name}"></label> -->
            <button type="submit">Add Charge</button>
        </form>
    </main>

</body>
</html>